<ul class="icons">
	<li style="display: inline-block">
		<a class="fa-facebook icon" href="https://www.facebook.com/khaneliman" target="_blank">
			<span class="label">Facebook</span>
		</a>
	</li>
	<li style="display: inline-block">
		<a class="fa-twitter icon" href="https://twitter.com/khaneliman12" target="_blank">
			<span class="label">Twitter</span>
		</a>
	</li>
	<li style="display: inline-block">
		<a class="fa-instagram icon" href="https://www.instagram.com/khaneliman/" target="_blank">
			<span class="label">Instagram</span>
		</a>
	</li>
	<li style="display: inline-block">
		<a class="fa-github icon" href="https://github.com/khaneliman" target="_blank">
			<span class="label">Github</span>
		</a>
	</li>
	<li style="display: inline-block">
		<a class="fa-linkedin icon" href="https://www.linkedin.com/in/austin-horstman-94963a76/" target="_blank">
			<span class="label">LinkedIn</span>
		</a>
	</li>
</ul>