  <!-- Header -->
<header class="alt" id="header">
	<h1>
		<a class="nav-link" routerLink="home" routerLinkActive='true'>Austin Horstman</a>
	</h1>
	<nav id="nav">
		<ul>
			<li>
				<a class="nav-link" routerLink="home" routerLinkActive='true'>Home <span class="sr-only" *ngIf="currentRoute === 'home'">(current)</span></a>
      </li>
      <li>
          <a class="nav-link" routerLink="contact" routerLinkActive='true'>Contact <span class="sr-only" *ngIf="currentRoute === 'contact'">(current)</span></a>
        </li>
			<li>
				<a class="nav-link" routerLink="resume" routerLinkActive='true'>Resume <span class="sr-only" *ngIf="currentRoute === 'resume'">(current)</span></a>
			</li>
			<li>
				<a class="fa-angle-down icon" href="#">Projects</a>
				<ul>
				</ul>
			</li>
		</ul>
	</nav>
</header>
