@media screen and (min-width: 1681px) and (max-width: 1920px) {
    /* Banner */
    .homepage > #banner {
      padding: 3em 0 11em 0;
      /* margin-top: -3em;  */
    }

    .resume > #banner {
      padding: 3em 0 8em 0;
      /* margin-top: -3em;   */
    }

    #footer { padding: 1em 0 1em 0; }
}

@media screen and (min-width: 1281px) and (max-width: 1680px) {
    /* Banner */
    .homepage > #banner {
      padding: 3em 0 11em 0;
      /* margin-top: -3em;  */
    }

    .resume > #banner {
      padding: 3em 0 8em 0;
      /* margin-top: -3em;   */
    }

    #footer { padding: 1em 0 1em 0; }
}

@media screen and (max-width: 1280px) {
    #main { padding-bottom: 0px; }

    #footer { padding: 1em 0 1em 0; }
}

@media screen and (min-width: 737px) and (max-width: 1280px) {
  .homepage > #banner {
    padding: 3em 0 11em 0;
    /* margin-top: -3em;  */
  }

  .resume > #banner {
    padding: 3em 0 10em 0;
    /* margin-top: -3em;   */
  }
}

@media screen and (max-width: 736px) {
    .homepage > #banner { padding: 1em 0; }

    .resume > #banner {
      padding: 2em 0;
      /* margin-top: -3em;  */
    }
}

@media screen and (max-width: 480px) {
    ul.actions li > * { width: auto; }
}
