<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-dark alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img
                    src="./assets/images/austin2.jpg"
                    class="rounded-circle"
                    alt="Austin Horstman profile photo"
                  />
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4"
                  >Connect</a
                >
                <a
                  routerLink="/personal/contact"
                  class="btn btn-sm btn-default float-right"
                  >Message</a
                >
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <!-- <div>
                  <span class="heading">360</span>
                  <span class="description">Friends</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Photos</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div> -->
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <h3>
              Austin Horstman
              <span class="font-weight-light">, {{ age() }}</span>
            </h3>
            <div class="h6 font-weight-300">
              <i class="ni location_pin mr-2"></i>Fox Crossing, WI
            </div>
            <div class="h6 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Senior Software
              Engineer - Core BTS
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>AAS of Software Development
            </div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <p>
                  If you’re on the hunt for a professional Software Engineer
                  with experience and the ability to adapt to new technologies,
                  you’ve come to the right place. Since 2015, I’ve been
                  providing exceptional software development services to my
                  employer's clients. I help clients implement strategical
                  updates to their marketing and sales efforts through an
                  efficient calling strategy and email marketing analytics.
                </p>
                <a
                  class="btn btn-link text-primary"
                  routerLink="/personal/resume"
                  >See Resume</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
