<main>
  <div class="position-relative">
    <section class="section pb-0 bg-gradient-default">
      <div class="container">
        <div class="row row-grid align-items-center mt-5">
          <div class="col-lg-2 order-lg-1 ml-lg-auto">
            <div class="position-relative pl-md-5">
              <!-- <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid"> -->
            </div>
          </div>
          <div class="col-lg-6 order-lg-2">
            <div class="d-flex px-3">
              <div>
                <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                  <i class="ni ni-ruler-pencil text-primary"></i>
                </div>
              </div>
              <div class="pl-4">
                <h4 class="display-3 text-white">Education</h4>
                <!-- <p class="text-white"></p> -->
              </div>
            </div>
            <div class="card shadow shadow-lg--hover mt-5 mb-5">
              <div class="card-body">
                <div class="d-flex px-3">
                  <div class="col-4">
                    <img class="rounded mx-auto d-block float-left img-fluid " src="assets/images/fb_default_logo.jpg"
                      style="background-color: rgb(24, 26, 27);" />
                  </div>
                  <div class="pl-4">
                    <h5 class="title text-success">Fox Valley Technical College</h5>
                    <p class="align-right">
                      Associate of Applied Science – IT Software Developer<br />
                      <sup>
                        <i>2013 - 2015</i>
                      </sup>
                    </p>
                    <a href="javascript:void(0)" class="text-success">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 order-lg-3 ml-lg-auto">
            <div class="position-relative pl-md-5">
              <!-- <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid"> -->
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section pb-0 bg-gradient-warning">
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="col-md-6 order-lg-2 ml-lg-auto">
            <div class="position-relative pl-md-5">
              <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="d-flex px-3">
              <div>
                <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                  <i class="ni ni-building text-primary"></i>
                </div>
              </div>
              <div class="pl-4">
                <h4 class="display-3 text-white">Employment</h4>
                <p class="text-white">Computer Repair Agent, Programmer, and Software Engineer</p>
              </div>
            </div>
            <div class="card shadow shadow-lg--hover mt-5">
              <div class="card-body">
                <div class="d-flex px-3">
                  <div class="col-4">
                    <img class="rounded mx-auto d-block float-left img-fluid " src="assets/images/corebts.png"
                      style="background-color: rgb(24, 26, 27);" />
                  </div>
                  <div class="pl-4">
                    <h5 class="title text-success">Core BTS</h5>
                    <p class="align-right">
                      Software Engineer<br />
                      <sup>
                        <i>January 2021 - Current</i>
                      </sup>
                    </p>
                    <a href="javascript:void(0)" class="text-success">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card shadow shadow-lg--hover mt-5">
              <div class="card-body">
                <div class="d-flex px-3">
                  <div class="col-4">
                    <img class="rounded mx-auto d-block float-left img-fluid "
                      src="assets/images/skyline-technologies.png" />
                  </div>
                  <div class="pl-4">
                    <h5 class="title text-success">Skyline Technologies</h5>
                    <p class="align-right">
                      Software Engineer I<br />
                      <sup>
                        <i>October 2017 - January 2021</i>
                      </sup>
                    </p>
                    <a href="javascript:void(0)" class="text-success">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card shadow shadow-lg--hover mt-5">
              <div class="card-body">
                <div class="d-flex px-3">
                  <div class="col-4">
                    <img class="rounded mx-auto d-block float-left img-fluid " src="assets/images/west.jpg" />
                  </div>
                  <div class="pl-4">
                    <h5 class="title text-success">West Corporation</h5>
                    <p class="align-right">
                      Programmer<br />
                      <sup>
                        <i>May 2015 - October 2017</i>
                      </sup>
                    </p>
                    <a href="javascript:void(0)" class="text-success">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card shadow shadow-lg--hover mt-5 mb-5">
              <div class="card-body">
                <div class="d-flex px-3">
                  <div class="col-4">
                    <img class="rounded mx-auto d-block float-left img-fluid " src="assets/images/geeksquad.jpg" />
                  </div>
                  <div class="pl-4">
                    <h5 class="title text-success">Best Buy</h5>
                    <p class="align-right">
                      Advanced Repair Agent<br />
                      <sup>
                        <i>August 2013 – July 2015</i>
                      </sup>
                    </p>
                    <a href="javascript:void(0)" class="text-success">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section section-lg mb-5 bg-secondary">
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="d-flex px-3">
            <div>
              <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-collection text-primary"></i>
              </div>
            </div>
            <div class="pl-4 mb-5">
              <h4 class="display-3 mb-5">Projects</h4>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-lg pt-lg-0 mt--200 bg-secondary">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                      <i class="ni ni-check-bold"></i>
                    </div>
                    <h6 class="text-warning text-uppercase">Updates Soon</h6>
                    <sup>
                      <i></i>
                    </sup>
                    <p class="description mt-3"></p>
                    <div>
                      <span class="badge badge-pill badge-warning"></span>
                      <span class="badge badge-pill badge-warning"></span>
                      <span class="badge badge-pill badge-warning"></span>
                    </div>
                    <a href="javascript:void(0)" class="btn btn-warning mt-4">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                      <i class="ni ni-istanbul"></i>
                    </div>
                    <h6 class="text-success text-uppercase">Database and SSIS Job Search</h6>
                    <sup>
                      <i>2016</i>
                    </sup>
                    <p class="description mt-3">Database Search had a searchable list of the databases on all West’s
                      servers, what version of CRM they were on, and whether it was a
                      development, test, or production database. The SSIS job search tool
                      would query West’s servers that hosted SQL Server Agent Jobs and let
                      the user search for jobs and see what their run schedules were.</p>
                    <div>
                      <span class="badge badge-pill badge-warning">C#</span>
                      <span class="badge badge-pill badge-warning">.NET Framework</span>
                      <span class="badge badge-pill badge-warning">WinForms</span>
                    </div>
                    <a href="javascript:void(0)" class="btn btn-success mt-4">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                      <i class="ni ni-check-bold"></i>
                    </div>
                    <h6 class="text-primary text-uppercase">West IT Portal</h6>
                    <sup>
                      <i>2017</i>
                    </sup>
                    <p class="description mt-3">I created an ASP.NET MVC website that centralizes
                      all the sites and tools our IT department needs to access on a daily
                      basis. I created a web version of my previous database searching and
                      SSIS job searching tools using ASP.NET MVC, JavaScript, jQuery, and
                      Bootstrap. I also recreated one of our work request systems in the
                      website, so that we didn't have to leave the 'IT Portal' for anything.</p>
                    <div>
                      <span class="badge badge-pill badge-warning">C#</span>
                      <span class="badge badge-pill badge-warning">ASP.NET</span>
                      <span class="badge badge-pill badge-warning">WPF</span>
                    </div>
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                      <i class="ni ni-check-bold"></i>
                    </div>
                    <h6 class="text-primary text-uppercase">OnContact Quick Launch</h6>
                    <sup>
                      <i>2016</i>
                    </sup>
                    <p class="description mt-3">I added functionality to one of the tools that was previously created
                      by my supervisor, at the time. It automated the process of clearing
                      local caches and dynamically updating configuration files that the
                      software needed to access client databases. I also added the Database
                      Search functionality to the quick launch so that you could find where
                      the programs were located while loading up the applications.</p>
                    <div>
                      <span class="badge badge-pill badge-warning">C#</span>
                      <span class="badge badge-pill badge-warning">.NET Framework</span>
                      <span class="badge badge-pill badge-warning">WinForms</span>
                    </div>
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                      <i class="ni ni-istanbul"></i>
                    </div>
                    <h6 class="text-success text-uppercase">Database and SSIS Job Search</h6>
                    <sup>
                      <i>2016</i>
                    </sup>
                    <p class="description mt-3">Database Search had a searchable list of the databases on all West’s
                      servers, what version of CRM they were on, and whether it was a
                      development, test, or production database. The SSIS job search tool
                      would query West’s servers that hosted SQL Server Agent Jobs and let
                      the user search for jobs and see what their run schedules were.</p>
                    <div>
                      <span class="badge badge-pill badge-warning">C#</span>
                      <span class="badge badge-pill badge-warning">.NET Framework</span>
                      <span class="badge badge-pill badge-warning">WinForms</span>
                    </div>
                    <a href="javascript:void(0)" class="btn btn-success mt-4">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                      <i class="ni ni-planet"></i>
                    </div>
                    <h6 class="text-warning text-uppercase">Geek Squad Stat Tracker</h6>
                    <sup>
                      <i>2015</i>
                    </sup>
                    <p class="description mt-3">I have written and deployed a software application for tracking
                      statistics at our Geek Squad precinct. It managed the employees,
                      positions, and services that we had at our Geek Squad precinct. It
                      allowed our manager to import corporate budget reports into the
                      database and export reports for employee’s individual sales or the
                      sales for a particular day, week, or month. I used SQL Server as the
                      DBMS and included a database creation script with the source code.</p>
                    <div>
                      <span class="badge badge-pill badge-warning">C#</span>
                      <span class="badge badge-pill badge-warning">.NET Framework</span>
                      <span class="badge badge-pill badge-warning">WPF</span>
                    </div>
                    <a href="javascript:void(0)" class="btn btn-warning mt-4">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- TODO: Retrieve experience length -->
    <section class="section bg-default text-white">
      <div class="container">
        <div class="row">
          <div class="icon icon-lg icon-shape icon-shape-white shadow rounded-circle mb-5">
            <i class="ni ni-settings"></i>
          </div>
          <h3 class="text-white">Technology Summary</h3>
        </div>
        <div class="row row-grid align-items-top">
          <div class="col-md-6">
            <div class="pl-md-5">
              <table class="table">
                <thead>
                  <tr>
                    <th>Proficient</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>C#</td>
                    <td id="cs"></td>
                  </tr>
                  <tr>
                    <td>SQL</td>
                    <td id="sql"></td>
                  </tr>
                  <tr>
                    <td>Angular</td>
                    <td id="angular"></td>
                  </tr>
                  <tr>
                    <td>HTML</td>
                    <td id="html"></td>
                  </tr>
                  <tr>
                    <td>JavaScript</td>
                    <td id="js"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-6">
            <table class="table">
              <thead>
                <tr>
                  <th>Learned</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>C++</td>
                  <td id="cpp"></td>
                </tr>
                <tr>
                  <td>PHP</td>
                  <td id="php"></td>
                </tr>
                <tr>
                  <td>MySQL</td>
                  <td id="mysql"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <div class="pl-md-5">
              <table class="table">
                <thead>
                  <tr>
                    <th>Encountered</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>VB.NET</td>
                    <td id="vb"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-6">
            <table class="table">
              <thead>
                <tr>
                  <th>Interested</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Swift</td>
                  <td id="swift"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <table class="table">
              <thead>
                <tr>
                  <th>Software</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Visual Studio</td>
                </tr>
                <tr>
                  <td>SQL Server Management Studio</td>
                </tr>
                <tr>
                  <td>Resharper Ultimate</td>
                </tr>
                <tr>
                  <td>Redgate SQL Toolbelt</td>
                </tr>
                <tr>
                  <td>Task Factory</td>
                </tr>
                <tr>
                  <td>Microsoft Office</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </section>
  </div>
</main>