<main>
  <section class="section pb-0 bg-gradient-default">
    <div class="container">
      <div class="row row-grid align-items-center mt-5">
        <div class="col-lg-2 order-lg-1 ml-lg-auto">
          <div class="position-relative pl-md-5">
            <!-- <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid"> -->
          </div>
        </div>
        <div class="col-lg-6 order-lg-2">
          <div class="d-flex px-3">
            <div>
              <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-ruler-pencil text-primary"></i>
              </div>
            </div>
            <div class="pl-4">
              <h4 class="display-3 text-white">Education</h4>
              <!-- <p class="text-white"></p> -->
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5 mb-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div class="col-4">
                  <img class="rounded mx-auto d-block float-left img-fluid " src="assets/images/fb_default_logo.jpg"
                    style="background-color: rgb(24, 26, 27);" />
                </div>
                <div class="pl-4">
                  <h5 class="title text-success">Fox Valley Technical College</h5>
                  <p class="align-right">
                    Associate of Applied Science – IT Software Developer<br />
                    <sup>
                      <i>2013 - 2015</i>
                    </sup>
                  </p>
                  <a href="javascript:void(0)" class="text-success">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 order-lg-3 ml-lg-auto">
          <div class="position-relative pl-md-5">
            <!-- <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid"> -->
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section pb-0 bg-gradient-warning">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-lg-2 ml-lg-auto">
          <div class="position-relative pl-md-5">
            <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="d-flex px-3">
            <div>
              <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-building text-primary"></i>
              </div>
            </div>
            <div class="pl-4">
              <h4 class="display-3 text-white">Employment</h4>
              <p class="text-white">Computer Repair Agent, Programmer, and Software Engineer</p>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div class="col-4">
                  <img class="rounded mx-auto d-block float-left img-fluid " src="assets/images/corebts.png"
                    style="background-color: rgb(24, 26, 27);" />
                </div>
                <div class="pl-4">
                  <h5 class="title text-success">Core BTS</h5>
                  <p class="align-right">
                    Software Engineer<br />
                    <sup>
                      <i>January 2021 - Current</i>
                    </sup>
                  </p>
                  <a href="javascript:void(0)" class="text-success">Learn more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div class="col-4">
                  <img class="rounded mx-auto d-block float-left img-fluid "
                    src="assets/images/skyline-technologies.png" />
                </div>
                <div class="pl-4">
                  <h5 class="title text-success">Skyline Technologies</h5>
                  <p class="align-right">
                    Software Engineer I<br />
                    <sup>
                      <i>October 2017 - January 2021</i>
                    </sup>
                  </p>
                  <a href="javascript:void(0)" class="text-success">Learn more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div class="col-4">
                  <img class="rounded mx-auto d-block float-left img-fluid " src="assets/images/west.jpg" />
                </div>
                <div class="pl-4">
                  <h5 class="title text-success">West Corporation</h5>
                  <p class="align-right">
                    Programmer<br />
                    <sup>
                      <i>May 2015 - October 2017</i>
                    </sup>
                  </p>
                  <a href="javascript:void(0)" class="text-success">Learn more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5 mb-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div class="col-4">
                  <img class="rounded mx-auto d-block float-left img-fluid " src="assets/images/geeksquad.jpg" />
                </div>
                <div class="pl-4">
                  <h5 class="title text-success">Best Buy</h5>
                  <p class="align-right">
                    Advanced Repair Agent<br />
                    <sup>
                      <i>August 2013 – July 2015</i>
                    </sup>
                  </p>
                  <a href="javascript:void(0)" class="text-success">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
</main>
<div class="resume">
  <!-- Main -->
  <div class="box">
    <hr />
    <h3 class="align-center">
      <b>Projects</b>
    </h3>
    <blockquote>
      <h1>
        <b>Geek Squad Stat Tracker</b><br />
        <sup>
          <i>2015</i>
        </sup>
      </h1>
      <p align="justify">
        I have written and deployed a software application for tracking
        statistics at our Geek Squad precinct. It managed the employees,
        positions, and services that we had at our Geek Squad precinct. It
        allowed our manager to import corporate budget reports into the
        database and export reports for employee’s individual sales or the
        sales for a particular day, week, or month. I used SQL Server as the
        DBMS and included a database creation script with the source code.
      </p>
    </blockquote>

    <blockquote class="blockquote-reverse">
      <h1>
        <b>Database and SSIS Job Search</b>
        <br />
        <sup>
          <i>2016</i>
        </sup>
      </h1>
      <p align="justify">
        Database Search had a searchable list of the databases on all West’s
        servers, what version of CRM they were on, and whether it was a
        development, test, or production database. The SSIS job search tool
        would query West’s servers that hosted SQL Server Agent Jobs and let
        the user search for jobs and see what their run schedules were.
      </p>
    </blockquote>

    <blockquote>
      <h1>
        <b>OnContact Quick Launch</b>
        <br />
        <sup>
          <i>2016</i>
        </sup>
      </h1>
      <p align="justify">
        I added functionality to one of the tools that was previously created
        by my supervisor, at the time. It automated the process of clearing
        local caches and dynamically updating configuration files that the
        software needed to access client databases. I also added the Database
        Search functionality to the quick launch so that you could find where
        the programs were located while loading up the applications.
      </p>
    </blockquote>

    <blockquote class="blockquote-reverse">
      <h1>
        <b>West IT Portal</b>
        <br />
        <sup>
          <i>2017</i>
        </sup>
      </h1>
      <p align="justify">
        Most recently, I have created an ASP.NET MVC website that centralizes
        all the sites and tools our IT department needs to access on a daily
        basis. I created a web version of my previous database searching and
        SSIS job searching tools using ASP.NET MVC, JavaScript, jQuery, and
        Bootstrap. I also recreated one of our work request systems in the
        website, so that we didn't have to leave the 'IT Portal' for anything.
      </p>
    </blockquote>

    <hr />

    <h3 class="align-center">
      <b>Technology Summary</b>
    </h3>
    <div class="row">
      <div class="12u(mobilep) 6u">
        <div class="container-fluid">
          <div class="panel panel-default">
            <div class="panel-heading">
              <b>Proficient:</b>
            </div>
            <table class="table">
              <tbody>
                <tr>
                  <td>C#</td>
                  <td id="cs"></td>
                </tr>
                <tr>
                  <td>SQL</td>
                  <td id="sql"></td>
                </tr>
                <tr>
                  <td>HTML</td>
                  <td id="html"></td>
                </tr>
                <tr>
                  <td>JavaScript</td>
                  <td id="js"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="12u(mobilep) 6u">
        <div class="container-fluid">
          <div class="panel panel-default">
            <div class="panel-heading">
              <b>Learned:</b>
            </div>
            <table class="table">
              <tbody>
                <tr>
                  <td>C++</td>
                  <td id="cpp"></td>
                </tr>
                <tr>
                  <td>PHP</td>
                  <td id="php"></td>
                </tr>
                <tr>
                  <td>MySQL</td>
                  <td id="mysql"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="12u(mobilep) 6u">
        <div class="container-fluid">
          <div class="panel panel-default">
            <div class="panel-heading">
              <b>Encountered:</b>
            </div>
            <table class="table">
              <tbody>
                <tr>
                  <td>VB.NET</td>
                  <td id="vb"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="12u(mobilep) 6u">
        <div class="container-fluid">
          <div class="panel panel-default">
            <div class="panel-heading">
              <b>Interested In:</b>
            </div>
            <table class="table">
              <tbody>
                <tr>
                  <td>Angular 2</td>
                  <td id="angular"></td>
                </tr>
                <tr>
                  <td>Swift</td>
                  <td id="swift"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="50% no-collapse row uniform">
      <div class="12u(mobilep) 3u"></div>
      <div class="12u(mobilep) 6u align-center">
        <div class="container-fluid">
          <div class="panel panel-default">
            <div class="panel-heading">
              <b>Software</b>
            </div>
            <table class="table">
              <tbody>
                <tr>
                  <td>Visual Studio</td>
                </tr>
                <tr>
                  <td>SQL Server Management Studio</td>
                </tr>
                <tr>
                  <td>Resharper Ultimate</td>
                </tr>
                <tr>
                  <td>Redgate SQL Toolbelt</td>
                </tr>
                <tr>
                  <td>Task Factory</td>
                </tr>
                <tr>
                  <td>Microsoft Office</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="12u(mobilep) 3u"></div>
    </div>
  </div>

  <script type="text/javascript" src="assets/js/tech-summary.js"></script>
  <script type="text/javascript">
    var now = new Date($.now());

    // calculate experiences
    $("#cs").html(getCSExperience());
    $("#sql").html(getSQLExperience());
    $("#cpp").html(getCPPExperience());
    $("#js").html(getJSExperience());
    $("#html").html(getHTMLExperience());
    $("#php").html(getPHPExperience());
    $("#mysql").html(getMySQLExperience());

    $(document).ready(function () { });
  </script>
</div>