<p>As a Software Engineer consultant at Skyline, I've worked with several clients in providing recommendations for
    software design and working with their development teams. Work has consisted of native iOS development for a
    regulatory compliance company, Xamarin mobile development for an entertainment festival, and Angular/GraphQL web
    application for an education reporting company. I worked with a pharmaceutical rebates company building Angular
    websites, dotnet core APIs, SSIS ETL processes, and analyzing and improving internal developer workflows and setting
    up a CI/CD for all the application pieces, as well as a new DACPAC database migration process I created for source
    control and deploying their database.</p>