<section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-skyline alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="card card-profile shadow mt--500">
            <div class="px-4">
                <div class="row justify-content-center">
                    <div class="col-lg-4 order-lg-3">
                        <div class="">
                            <a href="https://www.skylinetechnologies.com" target="_blank">
                                <img src="./assets/images/skyline-technologies.png" class="rounded mx-auto d-block float-left img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                        <div class="card-profile-actions py-4 mt-lg-0">

                        </div>
                    </div>
                    <div class="col-lg-4 order-lg-1">
                        <!-- <div class="card-profile-stats d-flex justify-content-center">
                  <div>
                    <span class="heading">4</span>
                    <span class="description">years</span>
                  </div>
                  <div>
                    <span class="heading">X</span>
                    <span class="description">Clients</span>
                  </div>
                  <div>
                    <span class="heading">X</span>
                    <span class="description">Projects</span>
                  </div>
                </div> -->
                    </div>
                </div>
                <div class="text-center mt-5">
                    <h3>
                        Skyline Technologies
                    </h3>
                    <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>Appleton, WI</div>
                    <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Software Engineer I</div>
                    <div><i class="ni education_hat mr-2"></i>Custom Software Development</div>
                </div>
                <div class="mt-5 py-5 border-top text-center">
                    <div class="row justify-content-center">
                        <div class="col-lg-9">
                            <p>As a Software Engineer consultant at Skyline, I worked with several clients in
                                providing recommendations for
                                software design and working with their development teams. Work has consisted of native
                                iOS development for a
                                regulatory compliance company, Xamarin mobile development for an entertainment festival,
                                and Angular/GraphQL web
                                application for an education reporting company. I worked with a pharmaceutical rebates
                                company building Angular
                                websites, dotnet core APIs, SSIS ETL processes, and analyzing and improving internal
                                developer workflows and setting
                                up a CI/CD for all the application pieces, as well as a new DACPAC database migration
                                process I created for source
                                control and deploying their database.</p>
                            <a class="btn btn-link text-info" routerLink="/personal/resume">See Resume</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>