<a target="_blank" href="https://twitter.com/khaneliman12"
	class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Follow me">
	<i class="fa fa-twitter"></i>
</a>
<a target="_blank" href="https://www.facebook.com/khaneliman"
	class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="Like me">
	<i class="fa fa-facebook-square"></i>
</a>
<a target="_blank" href="https://instagram.com/khaneliman"
	class="btn btn-neutral btn-icon-only btn-dribbble btn-lg btn-round" ngbTooltip="Follow me">
	<i class="fa fa-instagram"></i>
</a>
<a target="_blank" href="https://github.com/khaneliman"
	class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg" ngbTooltip="Star on Github">
	<i class="fa fa-github"></i>
</a>
<a target="_blank" href="https://www.linkedin.com/in/austin-horstman-94963a76/"
	class="btn btn-neutral btn-icon-only btn-linkedin btn-round btn-lg" ngbTooltip="Star on Github">
	<i class="fa fa-linkedin"></i>
</a>