<ul [hidden]="location !== 'nav'" class="navbar-nav align-items-lg-center ml-lg-auto">
	<li *ngFor="let site of socialLinks" class="nav-item">
		<a class="nav-link nav-link-icon" href="{{site.link}}" target="_blank" data-toggle="tooltip"
			title="{{site.tooltip}}">
			<i class="fa {{site.faClass}}"></i>
			<span class="nav-link-inner--text d-lg-none">{{site.platform}}</span>
		</a>
	</li>
</ul>

<a [hidden]="location !== 'footer'" *ngFor="let site of socialLinks" target="_blank" href="{{site.link}}"
	class="btn btn-neutral btn-icon-only {{site.btnClass}} btn-round btn-lg" ngbTooltip="{{site.tooltip}}">
	<i class="fa {{site.faClass}}"></i>
</a>