<div class="card card-profile shadow mt--500">
  <div class="px-4">
    <div class="row justify-content-center">
      <div class="col-lg-4 order-lg-3">
        <div class="">
          <a href="https://www.corebts.com" target="_blank">
            <img
              class="rounded rounded-circle mx-auto d-block img-fluid"
              src="assets/images/corebts.png"
              style="background-color: rgb(24, 26, 27)"
              alt="CoreBTS logo"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
        <div class="card-profile-actions py-4 mt-lg-0"></div>
      </div>
      <div class="col-lg-4 order-lg-1">
        <!-- <div class="card-profile-stats d-flex justify-content-center">
          <div>
            <span class="heading">4</span>
            <span class="description">years</span>
          </div>
          <div>
            <span class="heading">X</span>
            <span class="description">Clients</span>
          </div>
          <div>
            <span class="heading">X</span>
            <span class="description">Projects</span>
          </div>
        </div> -->
      </div>
    </div>
    <div class="text-center mt-3">
      <h3>Core BTS</h3>
      <div class="h6 font-weight-300">
        <i class="ni location_pin mr-2"></i>Appleton, WI
      </div>
      <div class="h6 mt-4">
        <i class="ni business_briefcase-24 mr-2"></i>Software Engineer
      </div>
      <div>
        <i class="ni education_hat mr-2"></i>Modern Business Unit - Modern
        Applications
      </div>
    </div>
    <div class="mt-5 py-5 border-top text-center">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <router-outlet></router-outlet>
          <a class="btn btn-link text-info" routerLink="/personal/resume"
            >See Resume</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
