@if (location === 'nav') {
  <div class="flex items-center space-x-4">
    @for (site of socialLinks(); track site.platform) {
      <a
        href="{{ site.link }}"
        target="_blank"
        title="{{ site.tooltip }}"
        class="text-gray-600 hover:text-blue-600 transition-colors duration-200 p-2 rounded-lg hover:bg-gray-50"
      >
        <i class="fa {{ site.faClass }} text-lg"></i>
      </a>
    }
  </div>
}

@if (location === 'footer') {
  <div class="flex justify-center space-x-4">
    @for (site of socialLinks(); track site.platform) {
      <a
        target="_blank"
        href="{{ site.link }}"
        title="{{ site.tooltip }}"
        class="inline-flex items-center justify-center w-10 h-10 bg-white text-gray-600 hover:text-white hover:bg-blue-600 rounded-full shadow-lg transition-colors duration-200"
      >
        <i class="fa {{ site.faClass }}"></i>
      </a>
    }
  </div>
}
