<footer class="footer" [ngClass]="{
    'has-cards':
      getPath() !== '/user-profile' &&
      getPath() !== '/register' &&
      getPath() !== '/login'
  }">
  <!-- <div class="container container-lg" *ngIf="getPath()!=='/home' && getPath()!=='/about' && getPath()!=='/login'">
    <div class="row">
      <div class="col-md-6 mb-5 mb-md-0">
        <div class="card card-lift--hover shadow border-0">
          <a [routerLink]="['/landing']" title="Landing Page">
            <img src="./assets/img/theme/landing.jpg" class="card-img">
          </a>
        </div>
      </div>
      <div class="col-md-6 mb-5 mb-lg-0">
        <div class="card card-lift--hover shadow border-0">
          <a [routerLink]="['/user-profile']" title="Profile Page">
            <img src="./assets/img/theme/profile.jpg" class="card-img">
          </a>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container">
    <div class="row row-grid align-items-center" [ngClass]="{
        'my-md':
          getPath() !== '/user-profile' &&
          getPath() !== '/register' &&
          getPath() !== '/login',
        'mb-5':
          getPath() === '/user-profile' ||
          getPath() === '/register' ||
          getPath() === '/login'
      }">
      <div class="col-lg-6">
        <h3 class="text-primary font-weight-light mb-2">
          Thank you for supporting me!
        </h3>
        <h4 class="mb-0 font-weight-light">
          Let's get in touch on any of these platforms.
        </h4>
      </div>
      <div class="col-lg-6 text-lg-center btn-wrapper">
        <app-social-links location="footer"></app-social-links>
      </div>
    </div>
    <hr />
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{ test | date: 'yyyy' }}
          <a routerLink="home">Austin Horstman</a>.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a routerLink="/personal/about" class="nav-link">About Me</a>
          </li>
          <li class="nav-item">
            <a routerLink="/personal/contact" class="nav-link">Contact Me</a>
          </li>
          <li class="nav-item">
            <a routerLink="personal/resume" class="nav-link">Resume</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
