<div class="card card-lift--hover shadow border-0">
  <div class="card-body py-5">
    <div class="icon icon-shape icon-shape-{{status}} rounded-circle mb-4">
      <i class="{{icon}}"></i>
    </div>
    <h6 class="text-{{status}} text-uppercase">{{title}}</h6>
    <sup>
      <i>{{superText}}</i>
    </sup>
    <p class="description mt-3">
      {{description}}
    </p>
    <div>
      <span *ngFor="let tag of tags" span class="badge badge-pill badge-warning">{{tag}}</span>
    </div>
    <a routerLink="{{link}}" class="btn btn-{{status}} mt-4">{{linkText}}</a>
  </div>
</div>

<!-- Blank Template -->
<!--
<khaneliman-floating-card title="" icon=""
    status="" superText="" description="" [tags]="[]"
    link="" linkText="">
</khaneliman-floating-card>
-->
