<section class="section-profile-cover section-shaped my-0">
  <!-- Circles background -->
  <div class="shape shape-style-1 shape-{{ childActivated | async }} alpha-4">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew">
    <svg
      x="0"
      y="0"
      viewBox="0 0 2560 100"
      preserveAspectRatio="none"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
<section class="section">
  <div class="container mx-auto px-4">
    <router-outlet></router-outlet>
  </div>
</section>
